/* Reset some default styles */
body, h1, h2, p, table {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
  text-shadow: 1px 1px 1px #ccc;
}

.shopping-cart {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.shopping-cart th,
.shopping-cart td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  transition: background-color 0.3s ease;
}

.cart-item-check {
  margin-right: 10px;
}

.cart-item-qty {
  width: 50px;
  text-align: center;
}

.button {
  background-color: #ff5c5c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #ff3232;
}

.totals {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  column-count: 2;
  column-gap: 20px;
  border-radius: 10px;
}

.checkout {
  background-color: hsl(253, 47%, 53%);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.checkout:hover {
  background-color: #aa75e3;
}
