
.shopping-cart {
    position: fixed;
    top: 0;
    right: -300px; /* Initially hidden */
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 200; /* Increase the z-index to make the cart appear above the navbar */
}

.shopping-cart h3 {
  margin-top: 0;
  font-size: 24px; /* כאן אתה יכול לשנות את גודל הגופן */
  font-weight: bold; /* אפשר גם להוסיף עובי הגופן */
}

.shopping-cart.show {
    right: 0; /* Show the shopping cart */
}

/* Override Bootstrap's sticky navbar styles */
.navbar.navbar-shrink {
    position: static; /* Remove the sticky positioning */
    z-index: 100; /* Ensure the navbar is behind the cart */
}
  
/* Style for the submit button */
button {
    background-color: hwb(268 43% 5%);
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    display: block;
    margin: 10px 0;
    margin-left: auto;
    border-radius: 10px; /* Adding border-radius */
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  button:hover {
    background-color: #5c00a3;
    transform: scale(1.05);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Adding text-shadow on hover */
  }


  
  /* Styling for cart totals */
  .cart-totals {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    column-count: 2; /* Adding multiple columns */
    column-gap: 20px;
  }
  
  /* Styling for summary button */
  .summary-button {
    background-color: #c185ee;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    display: block;
    margin: 10px 0;
    margin-left: auto;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    max-width: 200px;
  }
  
  .summary-button:hover {
    background-color: #33005c;
    transform: scale(1.05);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
 