/* admin product edit form style */
#editForm {
    display: none;
    margin-top: 10%; /* Move the form a bit higher */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 2;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    left: 5%; /* Move the form to the left */
    top: 15%; /* Move the form higher */
    transform: translateX(-50%); /* Center the form horizontally */
}

.product-info {
    position: relative;
    text-align: center; /* Center product details */
}

.edit-button {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.edit-button:hover {
    background-color: #0056b3;
}

.product-info.open-form #editForm {
    left: 50%; /* Slide in the form to the center */
}

#editForm button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#editForm button:hover {
    background-color: #0056b3;
}

/* general style */
.product-image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 20px; /* Add spacing between image and form */
}

.product-image-container img {
    width: 100%; /* Adjust the width as needed */
    max-width: 600px; /* Set a maximum width to prevent image overflow */
}

.product-details-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Set a minimum height to center vertically */
}

