#weatherInfo {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
  }
  #weatherInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .weather-icon {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    display: block;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  body {
    background-color: #f8f8f8;
    padding: 20px;
  }
  
  #weatherInfo {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

/* Facebook API photos */
.section-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.section-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.image-container {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.image-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}