<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Shopping Cart - E.Photo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v2/toolkit.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/cartstyle.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md sticky-top navbar-shrink py-3" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href=""><img src="assets/img/logo3.jpg" width="172" height="82"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="padding-bottom: 0px;padding-left: 0px;padding-right: 0px;margin-right: 31px;">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="products.html">Products</a></li>
                    <li class="nav-item"><a class="nav-link" href="contacts.html">Contacts</a></li>
                    <li class="nav-item"><a class="nav-link" href="aboutus.html">About us</a></li>
                </ul> <a href="cart.html" class="btn btn-primary"> Cart <span>0</span> </a>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
              <a href="login.html" class="btn btn-primary" role="button">
                <span style="color: #fdfdfd;">Log in</span>
              </a>
            </div>
        </div>
    </nav>
    <body>
        <table class="shopping-cart">
            <!-- Shopping cart items will be appended here -->
          </table>
        
          <div class="totals">
            <p>Subtotal: $<span id="cart-subtotal">0.00</span></p>
            <p>Tax: $<span id="cart-tax">0.00</span></p>
            <p>Shipping: $<span id="cart-shipping">15.00</span></p>
            <p>Total: $<span id="cart-total">0.00</span></p>
          </div>
        
          <button class="checkout">Checkout</button>
        
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      
        <script>
          var taxRate = 0.05;
          var shipping = 15.0;
      
          $(function() {
            // Assuming you have fetched data from MongoDB and stored it in jsonData
            var jsonData = [
              // Your MongoDB documents here
            ];
      
            var html = "<tbody>";
            $.each(jsonData, function() {
              html +=
                '<tr class="cart-item">' +
                // ... Your HTML code here for displaying the data
                '</tr>';
            });
            html += "</tbody>";
            $(".shopping-cart").append(html);
      
            recalculateCart();
      
            $(".cart-item-check").change(function() {
              recalculateCart();
            });
      
            $(".cart-item-qty").change(function() {
              // ... Your code to update quantity and total
              recalculateCart();
            });
      
            $(".button").click(function() {
              var parent = $(this).closest(".cart-item");
              parent.remove();
              recalculateCart();
            });
          });
      
          function recalculateCart() {
            // ... Your code to recalculate cart totals
          }
        </script>
    <footer class="bg-primary-gradient"></footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.reflowhq.com/v2/toolkit.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/bold-and-bright.js"></script>
    

</body>

</html>