<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - E.Photo</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v2/toolkit.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/cart.css">
    <link rel="stylesheet" href="assets/css/weatherAndFB.css">
    <script src="../views/assets/js/auth.js"></script>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v17.0" nonce="TE8b1J59"></script>
    <nav class="navbar navbar-light navbar-expand-md sticky-top navbar-shrink py-3" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href=""><img src="assets/img/logo3.jpg" width="172" height="82"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="padding-bottom: 0px;padding-left: 0px;padding-right: 0px;margin-right: 31px;">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="products.html">Products</a></li>
                    <li class="nav-item"><a class="nav-link" href="contacts.html">Contacts</a></li>
                    <li class="nav-item"><a class="nav-link" href="aboutus.html">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="WebSockt.html">Start Chat!</a></li>
                    <li class="nav-item" id="storeInfoNavItem"><a class="nav-link" href="admin.html">Store Info</a></li>
                </ul> 
                <a href="userProfile.html" class="btn btn-primary" style="display: none;"> My Account</a>
                <a href="#" class="btn btn-primary" id="cartButton" style="display: none; margin-left: 10px;"> Cart <span id="cartQuantity"></span> </a>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
                <a id="authButton" class="btn btn-primary" role="button">
                    <span style="color: #fdfdfd;"></span>
                </a>
            </div>
        </div>
    </nav>
    <h1 style="font-size: 18px; color: rgb(145, 29, 190); text-align: center; margin-top: 5vh; transform: translateY(-50%);">Let the weather decide what photo to buy</h1>
    <form id="weatherForm">
        <div class="input-group mb-3">
            <input type="text" id="locationInput" class="form-control" placeholder="Enter location" aria-label="Enter location" aria-describedby="searchButton">
            <button class="btn btn-primary" type="submit" id="searchButton">Get Weather</button>
        </div>
    </form>
    <div id="weatherInfo"></div>

    <header class="bg-primary-gradient">
        <div class="container pt-4 pt-xl-5">
            <div class="row pt-5">
                <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <p class="fw-bold text-success mb-2"></p>
                        <h1 class="fw-bold">Only the best for your work space</h1>
                    </div>
                </div>
                <div class="col-12 col-lg-10 mx-auto">
                    <div class="position-relative" style="display: flex;flex-wrap: wrap;justify-content: flex-end;">
                        <div style="position: relative;flex: 0 0 45%;transform: translate3d(-15%, 35%, 0);"><img class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.8" src="assets/img/products/emmaAalpha.jpeg"></div>
                        <div style="position: relative;flex: 0 0 45%;transform: translate3d(-5%, 20%, 0);"><img class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.4" src="assets/img/products/Desert-4K-Phone-Wallpaper.jpg"></div>
                        <div style="position: relative;flex: 0 0 60%;transform: translate3d(0, 0%, 0);"><img class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.25" src="assets/img/products/tennis-ball-with-net.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div style="display: flex;">
        
        <section class="py-5" style="flex: 1;">
            <div class="container text-center py-5">
                <p class="mb-4" style="font-size: 1.6rem;">Used by <span class="text-dark bg-success-subtle bg-success-light p-1"><strong>2400+</strong></span>&nbsp;of the best companies in the world.</p>
                <a href="#"> <img class="m-3" src="assets/img/brands/instacart.png"></a>
                <a href="#"> <img class="m-3" src="assets/img/brands/kickstarter.png"></a>
                <a href="#"> <img class="m-3" src="assets/img/brands/lyft.png"></a>
                <a href="#"> <img class="m-3" src="assets/img/brands/shopify.png"></a>
                <a href="#"> <img class="m-3" src="assets/img/brands/pinterest.png"></a>
                <a href="#"> <img class="m-3" src="assets/img/brands/twitter.png"></a>
            </div>
        </section>
    </div>
 
    <div class="image-container">
        <h1 class="section-title">Facebook API</h1>
        <p class="section-description">Please note that these images demonstrate our success with the Facebook API when new products were published through the ADMIN form.</p>
        <div class="image-row">
            <div class="image-column">
                <img src="assets/img/facebookAPI/addproduct1.JPG" alt="1">
            </div>
            <div class="image-column">
                <img src="assets/img/facebookAPI/addproduct2.JPG" alt="2">
            </div>
        </div>
        <div class="image-row">
            <div class="image-column">
                <img src="assets/img/facebookAPI/addproduct3.JPG" alt="3">
            </div>
        </div>
    </div>

    <section class="py-3">
        <div class="container">
            <div class="border rounded border-0 border-white d-flex flex-column justify-content-between align-items-center flex-lg-row bg-primary-gradient p-4 p-lg-5">
                <div class="text-center text-lg-start py-3 py-lg-1">
                    <h2 class="fw-bold mb-2">Subscribe to our newsletter</h2>
                    <p class="mb-0">for exclusive updates and offers.</p>
                </div>
                <form class="d-flex justify-content-center flex-wrap flex-lg-nowrap" onsubmit="return subscribe();">
                    <div class="my-2"><input class="border rounded-pill shadow-sm form-control" type="email" name="email" placeholder="Your Email"></div>
                    <div class="my-2"><button class="btn btn-primary shadow ms-2" type="submit">Subscribe</button></div>
                </form>                
                <div id="subscription-message" class="text-center text-success mt-3" style="display: none;">
                    You are now subscribed, check your inbox!
                </div>
                <div id="error-message" class="text-center text-danger mt-3" style="display: none;">
                    Email is required!
                </div>
            </div>
        </div>
    </section>
    <aside id="shopping-cart" class="shopping-cart">
        <h3>Shopping Cart</h3>
        <ul id="cart-items"></ul>
        <p id="cartTotal"></p>
        <button id="payButton">Pay</button>
    </aside>
    <footer class="bg-primary-gradient"></footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.reflowhq.com/v2/toolkit.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/bold-and-bright.js"></script>
    <script src="assets/js/index.js"></script> 
    <script src="assets/js/admin.js"></script>
    <script src="assets/js/Weather.js"></script>
    <script src="assets/js/cart.js"></script>
    <script src="assets/js/font-face.js"></script>
</body>

</html>